<!DOCTYPE html>
<html lang="en">
<head>
	<title>EOF &mdash; a weekly tech digest</title>

    <meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:creator' content='@jpignata'>
    <meta name='twitter:title' content='No. {{ .Params.Number }}'>
    <meta name='twitter:description' content='{{ .Params.Capsule }}'>

    <link rel='stylesheet' href='/styles.css'>
</head>

<body>
    <div class="body">
        <header>
            <h1>EOF</h1>
            <p>a weekly tech digest, every monday</p>
        </header>

        <main>
            <article>
                <h2>{{ dateFormat "2 January 2006" .Date }}</h2>
                No. {{ .Params.Number }} &mdash; {{ .Params.Capsule }}

                {{ .Content }}
            </article>

            <nav>
                <h3>previously</h3>
                <ul>
                    {{ range where .Site.Pages "Type" "issue" }}
                    <li>
                        {{ dateFormat "02 Jan" .Date }} / <a href="{{ .Permalink }}">{{ .Params.Capsule }}</a>
                    </li>
                    {{ end }}
                </ul> 
            </nav>
        </main>
    </div>
</body>
</html>
