<!DOCTYPE html>
<html lang="en">
<head>
	<title>EOF</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="weeknotes about nothing">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jpignata">
    <meta name="twitter:title" content="EOF">
    <meta name="twitter:description" content="weeknotes about nothing">
    <base target="_blank">

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    {{ $paginator := .Paginate (where .Site.Pages "Type" "issue") }}

    <div class="body">
        <header>
            <h1><a href="/">EOF</a></h1>
        </header>

        <main>
            <article>
                {{ range first 1 $paginator.Pages }}
                    <h2>{{ dateFormat "2 January 2006" .Date }}</h2>
                    No. {{ .Params.Number }} &mdash; <a class="title" href="{{ .Permalink }}">{{ .Params.Capsule }}</a>

                    {{ .Content }}
                {{ end }}
            </article>

            <nav>
                <h3>previously</h3>
                <ul>
                    {{ range after 1 $paginator.Pages }}
                    <li>
                        {{ dateFormat "02 Jan" .Date }} / <a href="{{ .Permalink }}">{{ .Params.Capsule }}</a>
                    </li>
                    {{ end }}
                </ul> 
            </nav>
        </main>
    </div>
</body>
</html>
