<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<title>EOF &mdash; a weekly tech digest</title>
    <link rel='stylesheet' href='/styles.css'>
    <base target='_blank'>
</head>

<body>
    {{ $paginator := .Paginate (where .Site.Pages "Type" "issue") }}

    <div class="body">
        <header>
            <h1>EOF</h1>
            <p>a weekly tech digest, every monday</p>
        </header>

        <main>
            {{ range $paginator.Pages }}
                <h2>{{ dateFormat "2 January 2006" .Date }}</h2>
                No. {{ .Params.Number }} &mdash; {{ .Params.Capsule }}

                {{ .Content }}
            {{ end }}
        </main>
    </div>
</body>
</html>
